* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: bisque;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section1 {
  width: 100%;
  height: 20vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.section2 {
  width: 100%;
  height: 60vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.section3 {
  width: 100%;
  height: 20vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.undersection {
  width: 45%;
  height: 95%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  width: 700px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.rectangle {
  width: 500px;
  height: 150px;
  border: 1px solid black;
}

.vert-rectangle {
  width: 250px;
  height: 200px;
  border: 1px solid black;
}
