* {
  padding: 0px;
  margin: 0px;
  background-color: bisque;
  font-family: "Mynerve", cursive;
  font-size: small;
  text-align: center;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6 {
  background-color: white;
  height: 100px;
  margin: 0.3%;
  float: left;
}

.column1 {
  width: calc((100% - 0.6% * 2) / 2);
}

.column2 {
  width: calc((100% - 0.6% * 6) / 6);
}

.column3 {
  width: calc((100% - 0.6% * 10) / 10);
}

.column4 {
  width: calc((100% - 0.6% * 1) / 1);
}

.column5 {
  width: calc((100% - 0.6% * 3) / 3);
}

.column6 {
  width: calc((100% - 0.6% * 5) / 5);
}

.block {
  margin: 30px;
  border: 30px solid black;
  padding: 30px;
  width: 80px;
  height: 80px;
  background-color: darksalmon;
  float: left;
}
